html{
    min-height: 100%;
    position: relative;
}
/* - - - - - - - - - - - - - BODY - - - - - - - - - - - - -  */
body{
    width:100%;
    background: aliceblue;
    font-family: "Lucida Grande", serif ;
    color: black;
    font-size: 20px;
    margin:0;
}
/* - - - - - - - - - - - - - DIV - - - - - - - - - - - - -  */
div{
    text-align: center;
    width: 100%;
}
/* - - - - - - - - - - - - - H1 - - - - - - - - - - - - -  */
h1{
    padding-top: 10px;
    font-size: 50px;
}
/* - - - - - - - - - - - - - P - - - - - - - - - - - - -  */
p{
    text-align: left;
    font-size: 20px;
}

/* - - - - - - - - - - - - - TABLE - - - - - - - - - - - - -  */
table{
    width:100%;
    border-collapse: collapse;
    border: darkslategray 1px solid;
}
    caption{
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 5px;
        background-color: #10AA86 ;
        color: white;
    }
    th{
        background-color: darkslategrey;
        color: white;
    }
    td,th{
        padding: 10px 15px ;
        text-align: center;
        border: darkslategray 1px solid;
    }

/* - - - - - - - - - - - - - CONTAINER - - - - - - - - - - - - -  */
.container{
    width: 95%;
    margin: 0 auto;
    padding: 3px;
    
}
    .no-inicio{
        text-align: center;
    }

/* - - - - - - - - - - - - - HEADER - - - - - - - - - - - - -  */
.header{
    background: #222222;
    padding: 3px;
    color: white;

    position: fixed;
    left:0;
    right:0;
    margin: 0;

}
    .header a {
        text-decoration: none;
        color: white;
    }

/* - - - - - - - - - - - - - MENU-PRINCIPAL - - - - - - - - - - - - -  */
.menu-principal{
    display: flex;
    padding: 5px 15px;
}
/* - - - - - - - - - - - - - MAIN - - - - - - - - - - - - -  */
.main{
    width: 80%;
    margin-left: 10%;
    padding-top: 30px;
}
/* - - - - - - - - - - - - - MENU-ICON - - - - - - - - - - - - -  */
.menu-icon{
    display:block;

    padding: 5px 15px;
    transition: all 0.1s linear;

    cursor: pointer;
    font-size: 17px;
}
    .menu-icon:hover{
        background: #4a4a4a;
    }

/* - - - - - - - - - - - - - NAVIGATION - - - - - - - - - - - - -  */
.navigation ul{
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
    .navigation ul.show{
        display: block;
        margin: 0;
    }
    .navigation ul li{
        display: inline-block;
    }
    .navigation ul li a{
        display: block;
        padding: 5px 15px;
        font-size: 15px;
        transition: all 0.1s linear;
    }
        .navigation ul li a:hover{
            background: #4a4a4a;
        }
/* - - - - - - - - - - - - - FOOTER - - - - - - - - - - - - -  */
.footer{
    background: black;
    padding: 5px 0;
    text-align: center;
    color:white;
    margin-top: 2px;
}
/* - - - - - - - - - - - - - UL - - - - - - - - - - - - -  */
ul{
    list-style: none;
}
    li{
        padding: 10px 0;
        text-align: center;
    }
/* - - - - - - - - - - - - - VOLVER_INICIO - - - - - - - - - - - - -  */
.volver_inicio ul{
    margin: 0;
    padding: 0;
    list-style: none;;
}
    .volver_inicio ul li a{
        width: 200px;
        display: inline-block;
        padding: 5px 15px;
        font-size: 20px;
        transition: all 0.1s linear;
    }

        .volver_inicio ul li a:hover{
            text-decoration: none;
        }

/* - - - - - - - - - - - - - ENTRADA - - - - - - - - - - - - -  */
.entrada{
    text-align: left;
    padding: 5px 15px;
    width: 80%;
    margin-left: 10%;
}

/*- - - - - - - - - - - - - BOTONES - - - - - - - - - - - - -  */
.botones{
    text-align: center;
    margin-top: 10px;
}


